<!-- File name: footer.ejs
     Author's name: Davinder Kaur
     Website name: https://dkassignment2.herokuapp.com/
     File Description: This file contains the footer which is common to all the pages. -->
</body>
</html>