<!-- File name: addPatient.ejs
     Author's name: Davinder Kaur
     Website name: https://dkassignment2.herokuapp.com/
     File Description: This file has the form for adding new patients to the table -->

<% include partials/header %>

<style>
    body  {
        background-image: url("./images/pati.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        
    }
    </style>

<div class="container">
        <form method="POST" action="/add">
          <div class="row">
            <div class="col-25">
              <label for="doctorn">Doctor Name</label>
            </div>
            <div class="col-75">
              <input type="text" id="doctorn" name="doctorn" >
            </div>
          </div>
          <div class="row">
            <div class="col-25">
              <label for="patientn">Patient Name</label>
            </div>
            <div class="col-75">
              <input type="text" id="patientn" name="patientn">
            </div>
          </div>
          <div class="row">
                <div class="col-25">
                  <label for="age">Age</label>
                </div>
                <div class="col-75">
                  <input type="text" id="age" name="age">
                </div>
              </div>
              <div class="row">
                    <div class="col-25">
                      <label for="disease">Disease</label>
                    </div>
                    <div class="col-75">
                      <input type="text" id="disease" name="disease">
                    </div>
                  </div>
          <div class="row">
            <button type="submit" >Add Patient</button>
          </div>
        </form>
      </div>
      <% include partials/footer %>